@tailwind base;
@tailwind components;
@tailwind utilities;

.text-bg {
  background: radial-gradient(
    ellipse farthest-corner at top left,
    #f7ff00,
    #ff5b00
  );
  background-repeat: no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
